## Ignored file types
*.o
*.a

## Ignored executables
src/mypipes/pipes
src/myminishell/minishell
src/mysignals/client
src/mysignals/server
src/mysockets/client
src/mysockets/server

## Ignored directories
lib/
test/
notes/
